@import url("./fonts.css");

@font-face {
  font-family: "Roboto";
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 0 104px 0 104px;
  margin: 0 auto;
}

.block-padding {
  padding: 120px 120px;
}

.header {
  min-height: 100vh;
  padding-top: 50px;
  background-image: url("../images/top-section-background.png");
  background-size: cover;
}

.header__elements {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 205px;
  height: 40px;
}

.header__links {
  position: relative;
}

.header__link {
  text-decoration: none;
  font-size: 24px;
  color: #ffffff;
  margin-right: 24px;
  position: relative;
  top: -8px;
}

.header__link:hover {
  border-bottom: 4px solid #f5bd41;
  padding-bottom: 12px;
}

.theme-switcher {
  width: 30px;
  height: 30px;
  margin-left: 24px;
}

.header__account-icon {
  position: relative;
  bottom: -2px;
  width: 40px;
  height: 40px;
  margin-left: 24px;
}

.header__text {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 200px;
  margin-bottom: 100px;
}

.main__form {
  margin-bottom: 120px;
}

.main-form__labels {
  display: flex;
  padding-left: 24px;
  margin-bottom: 24px;
  font-size: 18px;
  color: #ffffff;
}

.form__input {
  display: flex;
  height: 64px;
  background: #ffffff;
  border-radius: 8px;
}

.input-label--destinations {
  flex-grow: 0.15;
}

.input-label--date {
  text-align: center;
}

.form__item {
  font-size: 18px;
  color: #383838;
  padding: 24px;
  border: none;
  border-radius: 8px;
  outline: none;
  flex-grow: 1;
}

.form__item:hover {
  border: 3px solid #f5bd41;
  border-radius: 8px;
}

.form__button {
  font-size: 24px;
  color: #ffffff;
  background-color: #3077c6;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 192px;
  height: 64px;
}

.main__badges{
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-bottom: 120px;
}

.google-badge{
  width: 135px;
  height: 40px;
}

.appstore-badge{
  width: 120px;
  height: 40px;
}

.title {
  text-align: center;
  font-size: 40px;
  color: #383838;
}

.pseudo-hr {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 80px;
}

hr:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(-50%, 0);
  width: 100px;
  height: 4px;
  background-color: #f5bd41;
}

.svg-sprite {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

.advantages {
  display: flex;
  justify-content: space-around;
}

.icon-wrapper {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.advantages__svg {
  width: 100px;
  height: 100px;
  margin-bottom: 45px;
  margin-left: 5px;
}

.icon-signature {
  margin-top: auto;
  text-align: center;
  font-size: 24px;
}

footer {
  background-color: #10367c;
}

.footer__links {
  display: flex;
  justify-content: space-between;
}

.about,
.property,
.support {
  text-align: left;
  width: 35%;
}

.about {
  padding-left: 104px;
}

.property {
  padding-left: 60px;
}

.title-a {
  font-weight: bold;
}

#copyright {
  color: #ffffff;
  font-size: 14px;
  margin-top: 60px;
  padding-left: 104px;
}

.footer__link {
  text-decoration: none;
  font-size: 20px;
  color: #ffff;
}

.footer__links p {
  margin-bottom: 20px;
}
