@import url("./fonts.css");

@font-face {
  font-family: "Roboto";
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: #ffff;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

.container {
  padding: 120px 104px 120px 104px;
}

.title {
  text-align: center;
  font-size: 40px;
  color: #383838;
}

.pseudo-hr {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 80px;
}

hr:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(-50%, 0);
  width: 100px;
  height: 4px;
  background-color: #f5bd41;
}

.advantages {
  display: flex;
  justify-content: space-around;
}

.icon-wrapper {
  width: 290px;
  height: 184px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-signature {
  margin-top: auto;
  text-align: center;
  font-size: 24px;
}

footer {
  background-color: #10367c;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

.about,
.property,
.support {
  text-align: left;
  width: 25%;
}

.li-title{
  font-weight: bold;
}

#copyright {
  color: #ffffff;
  font-size: 14px;
  margin-top: 60px;
}
